/* variaveis */
:root {
  --preto: #000;
  --brancoGelo: #f5f5f5;
  --vermelho: #d71600;
  --verde: #006b06;
  --amarelho: #ebcd01;
  --cinca: #808080;


  --borda: 1px solid #DDDDDD;
  --borda-arredondada: 5px solid #efefef;

  --tamanho-fonte-s: 16px;
  --tamanho-fonte-m: 17px;
  --tamanho-fonte-b: 20px;
}

/* SELETOR GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mozilla Text", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */

}

body {
  background-color: #ffffff
}

h1 {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* formulario */

.custom-file-btn {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  min-height: 35px;
  padding: 10px;
  background-color: #0078cc;
  color: var(--cor-cinza-escuro2);
  text-align: center;
  border-radius: var(--borda-arredondada);
  font-weight: 500;
}

.formulario-botao-azul {
  background-color: #0095f6;
  border-radius: var(--borda-arredondada);
  border: none;
  /tira a borda/ height: 35px;

  color: #000;
  font-size: var(--tamanho-fonte-sm);
}


/* cabecalho */

#cabecalho {
  background-color: #f5f5f5;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: var(--borda);
}

#cabecalho>nav {
  background-color: #f5f5f5;
  width: 85%;
  max-width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho-acoes {
  display: flex;
  align-items: center;
  gap: 15px;

}

.cabecalho-acoes>a {
  display: flex;
  align-items: center;

}

#foto-perfil {
  width: 40px;
  height: 40px;
  /*mantem a proporcao com um zoom para adaptar a imagem*/
  object-fit: cover;
  border-radius: 100%;

}

#logo-mobile {
  display: none;

}

@media only screen and (max-width: 500px) {
  #logo-mobile {
    display: initial;
  }

  #logo-desktop {
    display: none;
  }
}